@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../fonts/NotoSansKR-Regular.ttf) format("woff");
  font-weight: 300;
  font-style: normal;
}
