// 변수 설정
$txtDefult-b: #212126;
$txtDefult-sub1: rgba(255, 255, 255, 0.6);
$txtDefult-sub2: rgba(255, 255, 255, 0.7);
$txtDefult-w: #fff;

$primary: #0081fb;
$bg: #000;
$bg-w: #fff;
$bg-w-op: rgba(255, 255, 255, 0.1);

$gray6: rgba(255, 255, 255, 0.6);

$font-size: 16px;
$font-family: "pretendard", sans-serif;
$font-family-pop: "Poppins", sans-serif;

// 반응형 미디어 쿼리
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;

// layout
$hdH: 70px;
$ftH: 70px;
