@charset "UTF-8";
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../fonts/NotoSansKR-Regular.ttf) format("woff");
  font-weight: 300;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #fff;
  background: #000;
}

button {
  font-size: 16px;
  font-weight: 700;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* desktop */
@media screen and (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #fff;
  text-decoration: none;
  line-height: 1;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
var {
  font-style: normal;
  font-weight: normal;
}

em {
  font-style: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: none;
  margin: 0 auto;
}
.wrap ::-moz-selection {
  background-color: #0081fb;
}
.wrap ::selection {
  background-color: #0081fb;
}

.inner,
.inner2 {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .inner,
  .inner2 {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .inner,
  .inner2 {
    max-width: 328px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  font-size: 14px;
  background: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}
#header .inner {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 1280px) {
  #header .inner {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  #header .inner {
    max-width: 328px;
  }
}
#header .hd-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 50px;
  padding: 0 80px;
}
@media screen and (max-width: 1280px) {
  #header .hd-wrap {
    justify-content: space-between;
    padding: 0 24px;
  }
}
#header .lg-img {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  #header .lg-img {
    width: auto;
    height: 15px;
  }
}
#header #nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  #header #nav {
    display: none;
  }
}
#header #nav .nav {
  display: flex;
  gap: 24px;
}
#header #nav .nav-list {
  display: flex;
  height: 100%;
}
#header #nav .nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 59px;
}
#header #nav .nav-link:hover .icon {
  transition: all 0.5s;
  transform: rotate(180deg);
}
#header #nav .depth2 {
  display: flex;
  gap: 150px;
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
  padding: 46px 230px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#header #nav .depth2.active {
  opacity: 1;
  visibility: visible;
}
#header #nav .depth2-list:hover {
  transition: all 0.5s;
  border-bottom: 2px solid #0081fb;
}
#header .menu {
  display: none;
}
@media screen and (max-width: 1280px) {
  #header .menu {
    display: flex;
  }
  #header .menu .icon {
    font-size: 30px;
    color: #fff;
  }
}

#main .sec-100 {
  height: 100vh;
}
#main .inner {
  height: 100%;
}
#main .inner-150 {
  padding: 150px 0;
}
@media screen and (max-width: 1280px) {
  #main .inner-150 {
    padding: 100px 0;
  }
}
@media screen and (max-width: 768px) {
  #main .inner-150 {
    padding: 80px 0;
  }
}
#main .tit-wrap {
  font-weight: 700;
  font-size: 80px;
}
@media screen and (max-width: 1280px) {
  #main .tit-wrap {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  #main .tit-wrap {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  #main .tit-wrap {
    text-align: center;
  }
}
#main .tit-wrap .gray {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 768px) {
  #main .pause-btn {
    bottom: 30px;
    width: 52px;
    height: 52px;
  }
  #main .btn-more .btn-name {
    font-size: 14px;
  }
  #main .btn-more .icon-box {
    width: 30px;
    height: 30px;
  }
}

.bottom-menu {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.bottom-menu .inner {
  display: flex;
  justify-content: space-between;
  gap: 132px;
  padding: 50px 0;
}
@media screen and (max-width: 1280px) {
  .bottom-menu .inner {
    flex-direction: column;
    gap: 70px;
  }
}
@media screen and (max-width: 768px) {
  .bottom-menu .inner {
    gap: 50px;
  }
}
.bottom-menu strong {
  font-weight: 700;
  font-size: 16px;
}
.bottom-menu .icons {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.bottom-menu .icons .fa-facebook {
  font-size: 26px;
  color: #fff;
}
.bottom-menu .icons .box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: #fff;
}
.bottom-menu .icons .black {
  color: #000;
}
.bottom-menu .menu {
  display: flex;
  gap: 70px;
}
@media screen and (max-width: 1280px) {
  .bottom-menu .menu {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .bottom-menu .menu {
    flex-direction: column;
    gap: 30px;
  }
  .bottom-menu .menu .flex {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
  }
}
.bottom-menu .menu .flex {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1280px) {
  .bottom-menu .menu .flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .bottom-menu .menu .flex {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}
.bottom-menu .menu .flex .icon {
  display: none;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .bottom-menu .menu .flex .icon {
    display: block;
  }
}
.bottom-menu .menu .flex li {
  padding-bottom: 10px;
  font-size: 14px;
}
.bottom-menu .menu .flex li a {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 768px) {
  .bottom-menu .menu .display-n {
    display: none;
  }
}

#footer {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  #footer {
    background: rgba(255, 255, 255, 0.1);
  }
}
#footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
@media screen and (max-width: 768px) {
  #footer .inner {
    flex-direction: column;
    gap: 20px;
  }
}
#footer .flex {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #footer .flex {
    flex-direction: column;
    align-items: center;
  }
}
#footer .flex2 {
  display: flex;
  gap: 10px;
}
#footer a {
  color: #fff;
}

.sec-visu {
  position: relative;
}
.sec-visu .vd {
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-visu .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sec-visu .big-tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 100px;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .sec-visu .big-tit {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .sec-visu .big-tit {
    font-size: 40px;
  }
}
.sec-visu .pause-btn {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 62px;
  height: 62px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .sec-visu .pause-btn {
    bottom: 30px;
    width: 52px;
    height: 52px;
  }
}
.sec-visu .pause {
  color: #fff;
}

.sec-about {
  height: 600px;
}
@media screen and (max-width: 1280px) {
  .sec-about {
    height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .sec-about {
    height: 450px;
  }
}
.sec-about .inner {
  position: relative;
}
.sec-about .about-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.sec-about .lg-img2 {
  width: 120px;
}
.sec-about .content {
  font-weight: 300;
  font-size: 26px;
  padding-top: 40px;
}
@media screen and (max-width: 1280px) {
  .sec-about .content {
    font-size: 23px;
  }
}
@media screen and (max-width: 768px) {
  .sec-about .content {
    font-size: 18px;
  }
}
.sec-about .con {
  display: block;
}
@media screen and (max-width: 768px) {
  .sec-about .con {
    display: inline;
  }
}
.sec-about .con:nth-child(2) {
  padding-top: 8px;
}

.sec-per .per-wrap {
  padding-top: 100px;
}
@media screen and (max-width: 1280px) {
  .sec-per .per-wrap {
    padding-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .sec-per .per-wrap {
    padding-top: 40px;
  }
  .sec-per .per-wrap .block {
    display: block;
  }
}
.sec-per .vd-wrap {
  position: relative;
}
.sec-per .vd-wrap .vd {
  opacity: 0.6;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1280px) {
  .sec-per .vd-wrap .vd {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .sec-per .vd-wrap .vd {
    height: 300px;
  }
}
.sec-per .vd-wrap .txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}
.sec-per .vd-wrap .count {
  font-weight: 700;
  font-size: 60px;
}
@media screen and (max-width: 1280px) {
  .sec-per .vd-wrap .count {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .sec-per .vd-wrap .count {
    font-size: 30px;
  }
}
.sec-per .vd-wrap .content {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.sec-per .vd-wrap .con {
  display: block;
}
@media screen and (max-width: 768px) {
  .sec-per .vd-wrap .con {
    display: inline;
  }
}
.sec-per .img-wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  padding-top: 40px;
}
@media screen and (max-width: 1280px) {
  .sec-per .img-wrap {
    padding-top: 30px;
    gap: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .sec-per .img-wrap {
    flex-wrap: wrap;
    padding-top: 15px;
    gap: 15px;
  }
}
.sec-per .img-wrap .img1,
.sec-per .img-wrap .img2 {
  position: relative;
  width: 100%;
}
.sec-per .img-wrap .img1 .content,
.sec-per .img-wrap .img2 .content {
  font-size: 12px;
}
.sec-per .img-wrap .img {
  position: relative;
  opacity: 0.6;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1280px) {
  .sec-per .img-wrap .img {
    width: 100%;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .sec-per .img-wrap .img {
    height: 150px;
  }
}
.sec-per .img-wrap .txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sec-per .img-wrap .count {
  font-weight: 700;
  font-size: 40px;
}
@media screen and (max-width: 1280px) {
  .sec-per .img-wrap .count {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .sec-per .img-wrap .count {
    font-size: 25px;
  }
}
.sec-per .img-wrap .content {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.sec-meta {
  position: relative;
}
.sec-meta .inner {
  padding: 150px 0 100px;
}
@media screen and (max-width: 1280px) {
  .sec-meta .inner {
    padding: 100px 0 80px;
  }
}
@media screen and (max-width: 768px) {
  .sec-meta .inner {
    padding: 80px 0 40px;
  }
  .sec-meta .inner .tit-wrap span {
    display: block;
  }
}
.sec-meta .vd-wrap {
  position: relative;
}
.sec-meta .vd-wrap .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sec-meta .vd-wrap .vd {
  opacity: 0.6;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}
.sec-meta .vd-wrap .txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}
@media screen and (max-width: 1280px) {
  .sec-meta .vd-wrap .txt-wrap {
    width: 100%;
  }
}
.sec-meta .vd-wrap .sub-tit {
  font-weight: 700;
  font-size: 60px;
}
@media screen and (max-width: 1280px) {
  .sec-meta .vd-wrap .sub-tit {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .sec-meta .vd-wrap .sub-tit {
    font-size: 30px;
  }
}
.sec-meta .vd-wrap .content {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.sec-meta .vd-wrap .con {
  display: block;
}
@media screen and (max-width: 768px) {
  .sec-meta .vd-wrap .con {
    display: inline;
  }
}
.sec-meta .vd-wrap .pause-btn {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 62px;
  height: 62px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}
.sec-meta .vd-wrap .pause {
  color: #fff;
}
.sec-meta .inner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 150px;
}
@media screen and (max-width: 1280px) {
  .sec-meta .inner2 {
    padding: 80px 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .sec-meta .inner2 {
    padding: 40px 0 80px;
  }
}
.sec-meta .inner2 .list-wrap {
  display: flex;
  justify-content: center;
  gap: 126px;
}
@media screen and (max-width: 1280px) {
  .sec-meta .inner2 .list-wrap {
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .sec-meta .inner2 .list-wrap {
    flex-direction: column;
  }
}
.sec-meta .inner2 .icon {
  font-size: 64px;
}
@media screen and (max-width: 1280px) {
  .sec-meta .inner2 .icon {
    font-size: 54px;
  }
}
@media screen and (max-width: 768px) {
  .sec-meta .inner2 .icon {
    font-size: 42px;
  }
}
.sec-meta .inner2 .sub-tit {
  display: block;
  padding-top: 20px;
  font-weight: 700;
  font-size: 26px;
}
@media screen and (max-width: 1280px) {
  .sec-meta .inner2 .sub-tit {
    font-size: 23px;
  }
}
@media screen and (max-width: 768px) {
  .sec-meta .inner2 .sub-tit {
    font-size: 20px;
  }
}
.sec-meta .inner2 .content {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  width: 270px;
}
@media screen and (max-width: 1280px) {
  .sec-meta .inner2 .content {
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  .sec-meta .inner2 .content {
    width: 300px;
  }
}
.sec-meta .inner2 .btn-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 100px;
  padding: 6px 6px 6px 24px;
  border-radius: 50px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .sec-meta .inner2 .btn-more {
    margin-top: 80px;
  }
}
.sec-meta .inner2 .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #0081fb;
  width: 40px;
  height: 40px;
}
.sec-meta .inner2 .add {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .sec-prod .inner {
    text-align: center;
  }
}
.sec-prod .sub-tit {
  font-weight: 700;
  font-size: 40px;
  color: #0081fb;
}
@media screen and (max-width: 1280px) {
  .sec-prod .sub-tit {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .sec-prod .sub-tit {
    font-size: 25px;
  }
}
.sec-prod .tit-wrap {
  margin-bottom: 100px;
}
@media screen and (max-width: 1280px) {
  .sec-prod .tit-wrap {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .sec-prod .tit-wrap {
    margin-bottom: 40px;
  }
}
.sec-prod .white,
.sec-prod .gray {
  display: block;
}
.sec-prod .vd {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1280px) {
  .sec-prod .vd {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .sec-prod .vd {
    height: 300px;
  }
}
.sec-prod .content {
  padding-top: 40px;
  text-align: center;
}
.sec-prod .btn-box {
  display: flex;
  justify-content: center;
}
.sec-prod .btn-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 80px;
  padding: 6px 6px 6px 24px;
  border-radius: 50px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .sec-prod .btn-more {
    margin-top: 60px;
  }
}
.sec-prod .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #0081fb;
  width: 40px;
  height: 40px;
}
.sec-prod .add {
  color: #fff;
}

.sec-news {
  background: rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 768px) {
  .sec-news .news-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.sec-news .content {
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .sec-news .content {
    font-size: 23px;
  }
}
@media screen and (max-width: 768px) {
  .sec-news .content {
    font-size: 18px;
  }
}
.sec-news .btn-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .sec-news .btn-wrap {
    flex-direction: column;
    gap: 10px;
    width: 250px;
  }
}
.sec-news .btn-more {
  padding: 14px 21px;
  border-radius: 50px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .sec-news .btn-more {
    padding: 10px 21px;
  }
}
.sec-news .face {
  background: #0081fb;
}
.sec-news .insta {
  background-image: url(../../images/main/insta.png);
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=comm.css.map */